body {
  background: #dedede;
}

header {
  width: 400px;
  height: 200px;
  background: green;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox-wrapper {
  background: white;
  height: 500px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.flex-item {
  background: aliceblue;
  border: 1px dashed #cecece;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  height: 100px;
  width: 100px;
}

.flex-item-two {
  display: flex;
}

.box {

}
